{
  "name": "{{name}}",
  "description": "{{description}}",
  "version": "1.0.0",
  "author": {
    "name": "{{author-name}}",
    "email": "{{author-email}}"
  },
  "repository": "{{repository-url}}",
  "license": "MIT",
  "keywords": [
    "{{keyword1}}",
    "{{keyword2}}"
  ]
}
